/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  /* Тёмная тема (основная) */
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --corner-color: var(--accent-color);  /* уголки = акцентный цвет */
  --title-decor-color: #000028;
  --section-title-color: #ff0070;
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --rec-visibility: visible;
  --page-padding: 10px;
  --main-font-size: 1.125rem;
  --main-line-height: 23.4px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --corner-color: #353430;   /* уголки светлой темы — тёмные */
    --title-decor-color: #353430;
    --section-title-color: #353430;
    --button-hover-border: rgba(50, 49, 45, 0.4);
    --rec-visibility: hidden;
  }
}

/* Опционально: адаптивные переменные, если нужно */